.List {
    width: 60%;
    font-family: var(--fonte-primaria);
}

@media (max-width: 768px){
    .List {
        width: 90vw;
    }
}

.List > div {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 425px){
    .List > div {
        flex-direction: column;
    }
}

.List__buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.List__buttons > button {
    padding: 0 1rem;
}

@media (max-width: 425px){
    .List__buttons {
        overflow-x: scroll;
    }
}

.List > ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.List > ul > li > img {
    width: 100%;
}