header {
    display: flex;
    justify-content: center;
    background-color: var(--Grey-1);
}

h1 {
    font-family: var(--fonte-primaria);
    font-weight: bold;
}

header > div{
    display: flex;
    width: 90vw;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}